<%= form_for pst do |u| %>

  <p>
    <%= u.label :content %>
    <%= u.text_field :content %>
  </p>

  <p>
    <%= u.label :link %>
    <%= u.text_field :link %>
  </p>

  <p>
    <%= u.submit %>
  </p>

<% end %>

<% @psts.each do |p| %>
  <%= p.content %>
<% end %>