<h3><%= link_to "Logout", root_path %></h3>

<p><%= form_for @pst do |u| %></p>


    <p>
    <%= u.label :headline %>
    <%= u.text_field :headline %>
  </p>

  <p>
    <%=	 u.label :content %>
    <%=	 u.text_field :content %>
  </p>


  <p>
    <%= u.submit %>
  </p>

<% end %>



