<h1>Create a Headline and some content</h1>
<h3>Your headline will be visible on social networks, but your content will self destruct in 24 hours</h3>


<p><%= form_for @pst do |u| %></p>


    <p>
    <%= u.label :headline %>
    <%= u.text_field :headline %>
  </p>

  <p>
    <%=	 u.label :content %>
    <%=	 u.text_field :content %>
  </p>


  <p>
    <%= u.submit %>
  </p>

<% end %>
  <% if @pst.errors.any? %>
    <% @pst.errors.each do |message| %>
      <p><%= message %> field cannot be empty </p>
    <% end %>
  <% end %>



