<h3 class="logout"><%= link_to "Logout", root_path %></h3>

<%= form_for @pst do |u| %>


  <p>
    <%= u.label :headline %>
    <%= u.text_field :headline %>
  </p>

  <p>
    <%=	 u.label :content %>
    <%=	 u.text_field :content %>
  </p>


  <p>
    <%= u.submit %>
  </p>

<% end %>



