<!DOCTYPE html>
<html>
<head>
  <title>This Message Will Self destruct</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=	 javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=	 csrf_meta_tag %>
</head>
<body>
<header>
  <h1 style="color: #BD68AA;">Dissapearing Link</h1>
  <h3><%= link_to "Logout", root_path %></h3>

</header>


<div class="wrapper">
<%= yield %>

</div>
<div class="ground"></div>

</body>
</html>
