<!DOCTYPE html>
<html>
<head>
  <title>GhostPost</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=	 javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <%=	 csrf_meta_tag %>
</head>
<body>
<header>
  <h1 class="logo"><%= link_to "GhostPost", root_path %></h1>


</header>


<div class="wrapper">
<%= yield %>

</div>
<div class="ground">




</div>

</body>
</html>
